body {

}

.hideScrollbar::-webkit-scrollbar{
    display:none;

}

.styleScrollbar::-webkit-scrollbar{
            
    width:2.4px;
    height:2.4px;
}
.styleScrollbar::-webkit-scrollbar-track{
            
    background:#eee;
}
.styleScrollbar::-webkit-scrollbar-thumb{
    background:#008cff;
    border-radius:5px;
}
.styleScrollbar::-webkit-scrollbar-corner{
    background:#eee;
}


.grdHeader{
    color:#008cff;font-weight:600;background-color:rgba(244,244,244,.9)
}

.grdHeaderStyle2{
    color:#000;font-weight:500;background-color:rgba(244,244,244,.9)
}

.grdStyle{
    font-size:16px;
    width:100%;

}

